{% extends 'layout.html' %}

{% block body %}
<h1>{{course.course_title}}: {{course.course_number}}</h1>
{% for student in students %}
  <ul>
    <li>
      <a>
        {{student.id}}. {{student.name}}: <span style="color:red">{{student.grade}}</span>
      </a>
    </li>
  </ul>
{% endfor %}
<ul style="list-style-type:none;">
  <li>
    <a href="{{ url_for('register', course_id=course.id) }}">
      Register
    </a>
  </li>
  <li>
    <a href="{{ url_for('index')}}">
      Back
    </a>
  </li>
</ul>
{% endblock %}
